.home{
    background-color: #1ABC9C;
    height: 73vh;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home img{
    width: 250px;
    
}

.star{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 28px;
}
.star::after{
    content: '';
    position: absolute;
    height: 5px;
    width: 140px;
    background-color: #ffffff;
    bottom: 50%;
    transform: translateY(50%);
    margin-left: 10px;
}

.star::before{
    content: '';
    position: absolute;
    right: 0;
    height: 5px;
    width: 140px;
    background-color: #ffffff;
    bottom: 50%;
    transform: translateY(50%);
    margin-right: 30px;
}
